.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid var(--links-color);
  border-radius: 50%;
  transition: 0.5s ease all;
}

.icon {
  width: 20px;
  height: 20px;
  color: white;
  transition: 0.5s ease all;
}
.link:hover {
  border: 2px solid white;
}
.icon:hover {
  color: var(--hover-links-color);
}
