.cursor {
  position: fixed;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  pointer-events: none;
  background: radial-gradient(
    circle,
    var(--color-cursor) 0%,
    rgba(17, 32, 68, 0.15) 50%,
    rgba(0, 255, 255, 0.05) 80%,
    rgba(0, 255, 255, 0) 100%
  );
  transform: translate(-50%, -50%);
  z-index: 9999;
  filter: blur(50px);
}
