.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: 100%;
  color: #bdc3c7;
  text-wrap: wrap;
  border-radius: 5px;
}
.closed:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}
.closed {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  cursor: pointer;
  background-color: var(--bg-card-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}

.opened {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  height: auto;
  cursor: pointer;
  background-color: var(--bg-card-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}
.full_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 100%;
}
.full_card img {
  height: auto;
  width: 300px;
  margin-top: 50px;
  object-fit: cover;
}
.opened button {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  color: var(--title-color);
  right: 20px;
  top: 20px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 15px;
  gap: 10px;
}

.technologies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 15px 0;
}
.tech {
  background-color: #e1e1e1;
  color: var(--title-color);
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.desc {
  text-align: center;
  color: var(--text-color);
  width: 80%;
}

@media (max-width: 1024px) {
  .opened {
    width: 40rem;
  }
}
@media (max-width: 768px) {
  .opened {
    width: 25rem;
  }
}
@media (max-width: 450px) {
  .full_card {
    width: 70%;
  }
  .full_card img {
    width: 250px;
    margin-top: 25px;
  }
  .info {
    padding: 10px;
  }
}
@media (max-width: 320px) {
  .opened {
    width: 300px;
  }
  .full_card img {
    width: 200px;
    margin-top: 25px;
  }
}
