.form {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
  width: 70%;
}
.inputs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 5rem;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-bottom: 1rem;
  width: 100%;
}

.form-group label {
  margin-bottom: 0.3rem;
  font-weight: 400;
  color: var(--color-text);
}

.form-group input,
.form-group textarea {
  border: none;
  border-bottom: 1px solid var(--color-accent);
  background-color: transparent;

  color: var(--color-text);
  outline: none;
  transition: border-color 0.3s;
}
.form-group input {
  width: 100%;
  padding: 0.5rem 0;
}
.form-group textarea {
  width: 100%;
  resize: none;
  height: 50px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}
.button {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
}
@media (max-width: 620px) {
  .form {
    gap: 1rem;
    font-size: 14px;
    width: 90%;
  }
  .inputs {
    flex-direction: column;
    gap: 1rem;
  }
}
