html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inherit;
  background: var(--color-bg);
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
}
