html,
body {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
}
ul {
  text-decoration: none;
  list-style: none;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  gap: 20px;
  padding: 1rem;
}
