.container {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
  max-width: 1440px;
  margin: 0 auto;
}
.main {
  margin-left: 320px;
  width: calc(100% - 320px);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.sidebar {
  position: fixed;
  width: 320px;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid var(--color-accent);
}
.mobile-header {
  padding: 1rem;
}
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  .main {
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main {
    padding: 1rem;
  }
}
@media (max-width: 425px) {
  .section {
    margin-bottom: 1rem;
    padding-top: 1rem;
  }
}
