.list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  list-style: none;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-text);
  transition: 0.5s ease all;
}

.icon:hover {
  color: var(--color-accent-hover);
}
