.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.list ul {
  color: var(--links-color);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  transition: 0.5s ease all;
  text-decoration: none;
}
.list ul:hover {
  color: var(--hover-links-color);
  text-decoration: underline;
}
