.card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 700px;
  height: auto;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
  padding: 1.5rem;
  gap: 1rem;
}

.card:hover {
  box-shadow: 0 0 12px var(--color-accent-hover);
  background-color: var(--color-bg-second);
}
.card:hover h3 {
  color: var(--color-accent);
}
.icon {
  width: 1.25rem;
  height: 1.25rem;
  transition: all 0.3s ease;
}
.icon:hover {
  color: var(--color-accent);
}
.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  flex: 1;
}
.info p {
  font-size: 16px;
}

.img {
  width: 120px;
  height: 70px;
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid var(--color-border);
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 10px;
  color: var(--color-text);
}

.tech li {
  border-radius: 50px;
  padding: 0.35rem 0.5rem;
  background-color: var(--color-bg-second);
  box-shadow: 0 0 4px var(--color-accent);
}
@media (max-width: 1440px) {
  .info p {
    font-size: 14px;
  }
  .card {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .card {
    flex-direction: column-reverse;
    padding: 10px;
  }
}
@media (max-width: 425px) {
  .info p {
    font-size: 12px;
  }

  .tech {
    font-size: 8px;
  }

  .tech li {
    padding: 0.25rem 0.4rem;
  }
}
