.info {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 30px;
}
.photo {
  width: 200px;
  height: calc(200px * 4 / 3);
  border-radius: 5px;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.text {
  flex: 1;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text);
  text-wrap: wrap;
}
