.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.info {
  display: flex;
  align-items: center;
  gap: 30px;
}
.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.photo img {
  width: 350px;
  height: calc(350px * 4 / 3);
  object-fit: cover;
  border-radius: 5px;
}

.text {
  font-size: 24px;
  font-weight: 400;
  color: var(--text-color);
  text-wrap: wrap;
}

.description {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .about {
    padding: 50px;
  }
  .info {
    flex-direction: column;
  }
  .text {
    padding: 40px;
    padding-bottom: 0;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .text {
    padding: 20px;
    font-size: 20px;
  }
}
