.info {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 30px;
}
.photo {
  width: 200px;
  height: calc(200px * 4 / 3);
  border-radius: 5px;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.text {
  flex: 1;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text);
  text-wrap: wrap;
}
.mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 425px) {
  .mobile {
    gap: 1rem;
  }
  .text {
    font-size: 14px;
    font-weight: 400;
  }
}
