.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  color: var(--color-text-second);
}
.info > h2 {
  color: var(--color-text-second);
  margin-bottom: 1rem;
}
