.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  color: var(--color-text);
  gap: 0.5rem;
}
.name {
  color: var(--color-text-second);
  margin-bottom: 1rem;
  font-size: 2rem;
}
@media (max-width: 1024px) {
  .name {
    margin-bottom: 0;
    font-size: 3rem;
  }
}
@media (max-width: 425px) {
  .info {
    gap: 0.5rem;
  }
  .name {
    font-size: 2rem;
  }
  .info p {
    font-size: 14px;
  }
}
