.category h3 {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  color: var(--color-text);
  letter-spacing: 1px;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
