.category {
  width: 100%;
}
.title {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  color: var(--color-text);
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  width: 100%;
}

@media (max-width: 425px) {
  .title {
    font-size: 1rem;
  }

  .grid {
    gap: 1.5rem;
  }
}
