.category h3 {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  color: var(--color-text);
  letter-spacing: 1px;
  text-align: start;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}
